@font-face {
    font-family: 'Pixeloid';
    src: url('~/assets/fonts/PixeloidSans.ttf') format('truetype');
}

.dark * {
    font-family: 'Pixeloid';
}

.dark table * {
    font-size: 0.85rem;
}

body {
    background-color: #222222;
}

td {
    border-bottom: 1px solid rgba(252, 242, 236, 0.1);
}