name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'

      - name: Install dependencies
        run: bun install

      - name: Get last commit date
        id: commit_date
        run: echo "date=$(git log -1 --format=%cd --date=iso8601)" >> $GITHUB_OUTPUT

      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
          VITE_LAST_COMMIT_DATE: ${{ steps.commit_date.outputs.date }}
        run: bun run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
